<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ReleaseNotes" value="Приложение запрашивает некоторые данные пользователя." />
        <add key="surname" value="Ивано" />
        <add key="name" value="Иван" />
        <add key="patronymic" value="Иванович" />
        <add key="age" value="44" />
        <add key="profession" value="Менеджер" />
    </appSettings>
</configuration>